/* *********************** voor alle apparaten ************** */
/* ************************ import styling ******************** */
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/* 
de volgorde styling elementen
1. import en dergelijke
2. elemeten
3. classes
4. id

bij elke element staat de styling
in dezelfde volgorde als de html.
*/

/* de elementen */
* {
    font-family: 'Archivo';
}

footer {
    width: 100%;
    background-color: #222931;
    text-align: center;
    padding: 1px;
}

footer p{
    color: white;
}

/* de classes */
.Main_div {
    box-shadow: 1px 1px 100px 10px #888888;
    background-color: white;
}

.header {
    width: 100%;
}

.icon_dropdown {
    width: 2em;
    height: 2em;
}

/* Dropdown button */
.dropdown .dropbtn {
    padding: 12px 16px;
    background-color: inherit;
    border: 0px;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
    color: grey;
    font-size: 1.2em;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #222931;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    font-size: 1em;
    float: none;
    color: grey;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown_logo {
    vertical-align: middle;
    cursor: pointer;
    width: 15px;
    height: 15px;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ffe718;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.paragraaf_text {
    border-top: 1px solid grey;
}

.icon {
    vertical-align: middle;
    width: 1em;
    height: 1em;
}

/* de id's */
#header1 {
    position: fixed;
    background:rgba(97, 96, 96, 0.945);
    top:0px;
    left:0px;
}

#header2 {
    display: flex;
    align-items: center;
    background-color: #ffe718;
    margin-top: 60px;
}

#logo {
    width: 100px;
    order: 2;
    margin-left: auto;
}

#rijschool_auto_image, #rijschool_auto_div_pc {
    width: 100%;
}

#gratis_proefles_button {
    color: black;
    background-color: rgb(255, 196, 0);
    border: none;

    display: block;
    margin-left: auto;
    margin-right: auto;

    font-size: 1.2em;
}

#header1_pc, #header2_pc {
    display: none;
}

@keyframes fade {
    from {opacity: .7} 
    to {opacity: 1}
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.slide_balk {
    height: 5px;
    width: 25px;
    margin: 0 2px;
    background-color: #bbb;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: rgb(24, 23, 23);
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

/* ****** voor alleen telefoon ***** */
@media only screen and (max-width: 320px) {
    .dropdown-content {
        width: 100%;
    }

    .icon_dropdown {
        width: 2em;
        height: 2em;
    }

    #logo {
        width: 100px;
        margin-left: auto;
    }
    
    #rijschool_auto_image {
        height: 190px;
    }

    #rijschool_auto_div {
        display: block;
    }

    .slideshow-container {
        display: none;
    }

    #rijschool_auto_div_pc {
        display: none;
    }

    #gratis_proefles_button { 
        font-size: 2em;   
        width: 100%;
    }
}

/* ****** voor alleen pc ***** */
@media only screen and (min-width: 1024px) {
    .Main_div {
        box-shadow: 1px 1px 100px 10px #888888;
        width: 100%;
    }

    .dropdown .dropbtn svg {
        vertical-align:baseline;
        width: 1.2em;
        height: 1.2em;
    }

    .dropdown-content {
        min-width: 160px;
    }

    .text {
        width: 80%;
        margin: auto;
        margin-bottom: 20px;
    }
    
    .text_deel {
        width: 32%;
        display: inline-block;
        margin-left: 1%;
        vertical-align: top;
    }

    .text_deel>div>p{
        font-size: 1.5em;
    }
    
    #header1, #header2 {
        display: none;
    }

    #header1_pc, #header2_pc {
        display: flex;
        align-items: center;
    }

    #header1_pc {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        
        background-color: rgb(255, 196, 0);
        justify-content: flex-end;
    }

    #header2_pc {
        margin-top: 3em;
    }

    #header1_pc>ul {
        display: flex;
        align-items: center;
    }

    #header1_pc>ul>li {
        list-style: none;
        margin-right: 25px;
        font-size: 1em;
    }

    #header1_pc svg{
        vertical-align:baseline;
        width: 1em;
        height: 1em;
    }

    #logo {
        display: inline-block;
        order: initial;
        width: 220px;
        margin-left: 140px;
    }

    #header2_pc>a {
        display: inline-block;
        text-decoration: none;
        color: grey;
        font-size: 1.2em;
        margin-left: 16px;
    }

    #rijschool_auto_div {
        display: none;
    }

    #mySlides {
        position: relative;
        justify-content: center;
        align-items: center;
    }

    #text_div_rijschool_auto p>span {
        background-color: rgb(255, 196, 0);
        text-align: center;
    }

    #text_div_rijschool_auto {
        position: absolute;
        top: 60%; 
        left: 50%;
        max-width: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 1;
    }
    
    #text1 {
        font-size: 3em;
    }
    #text2 {
        font-size: 2em;
    }

    #gratis_proefles_button {    
        padding: 10px 50px;

        display: block;
        margin-left: auto;
        margin-right: auto;

        font-size: 2em;
    }

    .videoWrapper {
        margin: 0 auto;
        width: 90%;
    }

    /* #video {
        border: none;
        left: 10%;
        right: 10%;
        width: 80%;
    } */
}

/* ****** styling voor alleen scherm tussen 650px en 1024px ***** */
@media only screen and (min-width: 320px) and (max-width: 1024px) {
    #logo {
        width: 20%;
        order: 2;
        margin-left: auto;
    }

    #gratis_proefles_button {    
        padding: 0px 50px;

        display: block;
        margin-left: auto;
        margin-right: auto;

        font-size: 1.5em;
    }

    .slideshow-container {
        display: none;
    }
}